<div class="container">
  <h1>Lista de Compras</h1>

  <div class="form-container">
    <input type="text" [(ngModel)]="newItem" placeholder="Adicionar item" />
    <button (click)="addItem()">Adicionar</button>
  </div>

  <div class="shopping-list">
    <h2>A Comprar</h2>
    <ul>
      <li *ngFor="let item of getUnpurchasedItems(); let i = index">
        <span *ngIf="!item.editing" [class.purchased]="item.purchased">{{ item.name }}</span>
        <input *ngIf="item.editing" type="text" [(ngModel)]="item.name" (blur)="stopEditing(item)" />

        <button (click)="togglePurchased(item)">Marcar como Comprado</button>
        <button (click)="deleteItem(item)">🗑</button> <!-- Alterado aqui -->
        <button (click)="startEditing(item)">✏️</button>
      </li>
    </ul>

    <h2>Comprados</h2>
    <ul>
      <li *ngFor="let item of getPurchasedItems(); let i = index">
        <span *ngIf="!item.editing" [class.purchased]="item.purchased">{{ item.name }}</span>
        <input *ngIf="item.editing" type="text" [(ngModel)]="item.name" (blur)="stopEditing(item)" />

        <button (click)="togglePurchased(item)">Marcar como Não Comprado</button>
        <button (click)="deleteItem(item)">🗑</button> <!-- Alterado aqui -->
        <button (click)="startEditing(item)">✏️</button>
      </li>
    </ul>
  </div>

</div>
